.Tangelo {
    background: #fdb441;
    background: -moz-linear-gradient(-45deg, #fdb441 0, #ff6e00 100%);
    background: -webkit-linear-gradient(-45deg, #fdb441 0, #ff6e00 100%);
    background: linear-gradient(135deg, #fdb441 0, #ff6e00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fdb441', endColorstr='#ff6e00', GradientType=1)
}

.blue {
    background: #0072a2;
    background: -moz-linear-gradient(-45deg, #0072a2 0, #002e7b 100%);
    background: -webkit-linear-gradient(-45deg, #0072a2 0, #002e7b 100%);
    background: linear-gradient(135deg, #0072a2 0, #002e7b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0072a2', endColorstr='#002e7b', GradientType=1)
}

.Phlox {
    background: #fdb441;
    background: -moz-linear-gradient(-45deg, #fdb441 0, #f0c 16%, #7db9e8 98%);
    background: -webkit-linear-gradient(-45deg, #fdb441 0, #f0c 16%, #7db9e8 98%);
    background: linear-gradient(135deg, #fdb441 0, #f0c 16%, #7db9e8 98%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fdb441', endColorstr='#7db9e8', GradientType=1)
}

.Crimson {
    background: #ff1744;
    background: -moz-linear-gradient(-45deg, #ff1744 0, #faa 100%);
    background: -webkit-linear-gradient(-45deg, #ff1744 0, #faa 100%);
    background: linear-gradient(135deg, #ff1744 0, #faa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff1744', endColorstr='#ffaaaa', GradientType=1)
}

.Ruby {
    background: #f50057;
    background: -moz-linear-gradient(-45deg, #f50057 0, #faa 100%);
    background: -webkit-linear-gradient(-45deg, #f50057 0, #faa 100%);
    background: linear-gradient(135deg, #f50057 0, #faa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f50057', endColorstr='#ffaaaa', GradientType=1)
}

.Purpureus {
    background: #6200ea;
    background: -moz-linear-gradient(-45deg, #6200ea 0, #ba68c8 100%);
    background: -webkit-linear-gradient(-45deg, #6200ea 0, #ba68c8 100%);
    background: linear-gradient(135deg, #6200ea 0, #ba68c8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#6200ea', endColorstr='#ba68c8', GradientType=1)
}

.navy {
    background: #00838f;
    background: -moz-linear-gradient(-45deg, #00838f 0, #7d4082 100%);
    background: -webkit-linear-gradient(-45deg, #00838f 0, #7d4082 100%);
    background: linear-gradient(135deg, #00838f 0, #7d4082 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00838f', endColorstr='#7d4082', GradientType=1)
}

.sunset {
    background: #f50057;
    background: -moz-linear-gradient(-45deg, #f50057 0, #febc30 100%);
    background: -webkit-linear-gradient(-45deg, #f50057 0, #febc30 100%);
    background: linear-gradient(135deg, #f50057 0, #febc30 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f50057', endColorstr='#febc30', GradientType=1)
}

.Sky {
    background: #2962ff;
    background: -moz-linear-gradient(-45deg, #2962ff 0, #29ffef 100%);
    background: -webkit-linear-gradient(-45deg, #2962ff 0, #29ffef 100%);
    background: linear-gradient(135deg, #2962ff 0, #29ffef 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2962ff', endColorstr='#29ffef', GradientType=1)
}

.Northwestern {
    background: #01119b;
    background: -moz-linear-gradient(-45deg, #01119b 0, #b52a88 100%);
    background: -webkit-linear-gradient(-45deg, #01119b 0, #b52a88 100%);
    background: linear-gradient(135deg, #01119b 0, #b52a88 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#01119b', endColorstr='#b52a88', GradientType=1)
}

.sunrise {
    background: #ff6d00;
    background: -moz-linear-gradient(-45deg, #ff6d00 0, #ffe900 99%);
    background: -webkit-linear-gradient(-45deg, #ff6d00 0, #ffe900 99%);
    background: linear-gradient(135deg, #ff6d00 0, #ffe900 99%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff6d00', endColorstr='#ffe900', GradientType=1)
}

.ocean {
    background: #00bfa5;
    background: -moz-linear-gradient(-45deg, #00bfa5 0, #006fbf 100%);
    background: -webkit-linear-gradient(-45deg, #00bfa5 0, #006fbf 100%);
    background: linear-gradient(135deg, #00bfa5 0, #006fbf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00bfa5', endColorstr='#006fbf', GradientType=1)
}

.teal {
    background: #00c853;
    background: -moz-linear-gradient(-45deg, #00c853 0, #009ec8 100%);
    background: -webkit-linear-gradient(-45deg, #00c853 0, #009ec8 100%);
    background: linear-gradient(135deg, #00c853 0, #009ec8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00c853', endColorstr='#009ec8', GradientType=1)
}