html {
	background-color: #020306
}


@font-face {
    font-family: EuclidFlex;
    src: url(EuclidFlex-Regular.otf) format('opentype');
}

html {
    font-family: EuclidFlex;
    font-variation-settings: "XHGT"0.7;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


a {
	    font-family: EuclidFlex;
}